<span style="white-space:nowrap;">
	<% (1 .. 10).each do |rating| %>
			<%= link_to rating, rankings_path(:ranking => {:movie_id => movie, :user_id => current_user, :rank => rating}), :remote => true, :method => :post, :class => "#{@rankings.select{|r| r.movie == movie && r.rank == rating}.empty? ? "" : "selected"}" %>
	<% end %>
</span>
